/* 
   CSS declarations go here 

   Grey: #322A26 ; Light Grey:#BCBDC0 ; Orange: #BF4600 ; Black: #191308 

   Last Modified: 11 Oct 2017
   Last Modified By: Billy and Kevin 
*/

body
{
   background: #191308;
   color: #BCBDC0;
}
