/* 
   CSS declarations go here 

   Grey: #322A26 ; Light Grey:#BCBDC0 ; Orange: #BF4600 ; Black: #191308 

   Last Modified: 11 Oct 2017
   Last Modified By: Billy and Kevin 
*/

body
{
   background: #191308;
   color: #BCBDC0;
   position: center;

   /*font-family: Cambria;
   font-size: 20%;*/
   
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 0;
   margin: 0;

}

h1
{
   font-size: 1.5em;
   margin: 0;
   margin-bottom: 10px;
   display: inline-block;
   margin-right: 1em;
   color: #BF4600
}

h2
{
   font-size: 1em;
   margin: 0;
   margin-bottom: 10px;
   display: inline-block;
   margin-right: 1em;
   color: #322A26;
}

ul
{
   list-style-type: square;
   margin: 0;
   padding: 0;
   background: white;
}


