/* 
   CSS declarations go here 

   Grey: #322A26 ; Light Grey:#BCBDC0 ; Orange: #BF4600 ; Black: #191308 

   Last Modified: 11 Oct 2017
   Last Modified By: Billy and Kevin 
*/

body
{
   clear: left;
   background-color: #191308;
   color: #BCBDC0;
   position: relative;
   width: 200px;

   /*font-family: Cambria;
   font-size: 20%;
   margin: auto;*/
}

.header
{
   clear: left;
   text-align: center;
   font-size: 5vw;
   /*width: 100vw;
   max-width: 1500px;*/
   margin-bottom: 10px;
   color: #BF4600;
   background-color: #BCBDC0;
   border-style: inset; 
   border-width: 8px;

}

.signin
{
  clear: left;
  background-color: #191308;
  color: #BCBDC0;
  position: relative;
  margin: auto;
  max-width: 200px;
  border-style: inset; 
  border-width: 3px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 250px;
  padding-left: 25px;
}

.menu
{
   margin-bottom: auto;
   top: 0;
   bottom: 0;
   left: 0;
   width: 200px;
   height: 1000px;
   position: absolute;
   outline: 1px solid;  
   text-align: center;
   margin-left: -100%;
   float: left;
   background-color: #322A26;
   border-style: inset; 
   border-width: 8px;
}

h2
{
   font-size: 1em;
   margin: 0;
   margin-bottom: 10px;
   display: inline-block;
   color: #322A26;
}

ul
{
   color: #BF4600;
   list-style-type: square;
   margin: 0;
   padding: 30px;
   background-color: #322A26;
}

 .footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #BCBDC0;
    color: white;
    text-align: center;
   border-style: inset; 
   border-width: 8px;
}


